.SignupPage {
    margin: 0.5rem;
}

.SignupPage input, .SignupPage select {
    width: 30ch;
    display: inline-block;

}

.SignupPage label {
    width: 10ch;
    display: inline-block;
}

.strong-password {
    background-color: green;
}

.weak-password {
    background-color: red;
}

.valid-email {
    background-color: green;
}

.invalid-email {
    background-color: red;
}